# WRDS CRSP Documentation

### Treasury Libraries
`crsp_m_treasuries`

Quote Data
* tfz_dly: main file of treasury quotes
* tfz_dly_ts2: supplemental series
* tfz_dly_ft: matched to term structure at any given date
* tfz_dly_cd: compilation of fed reported rates in tfz format
* tfz_dly_cpi: compilation of cpi data
* tfz_dly_rf2: compiled risk-free rate

Identifying Info
* tfz_iss: issue details (which are included automatically in queries.)
* tfz_idx: description of KYTREASNOX codes

### WRDS Python Manual
https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/querying-wrds-data-python/

https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/python-example-data-workflow/

https://wrds-www.wharton.upenn.edu/pages/support/applications/python-replications/fama-french-factors-python/

### CRSP Treasury Manual

https://www.crsp.org/products/documentation/treasno-properties
https://www.crsp.org/products/documentation/reference-information

In [2]:
import wrds
file_key = open("../../../keys/wrds_username.txt","r")
USERNAME = file_key.read()
file_key.close()

db = wrds.Connection(wrds_username=USERNAME)
#db.create_pgpass_file()

Loading library list...
Done

In [3]:
import pandas as pd
import numpy as np
from datetime import date

In [4]:
libs = db.list_libraries()
libs_crsp = [item for item in libs if item.startswith('crsp')]
treasury_databases = db.list_tables('crsp_m_treasuries')
display(treasury_databases)

['tfz_dly',
 'tfz_dly_cd',
 'tfz_dly_cpi',
 'tfz_dly_ft',
 'tfz_dly_rf2',
 'tfz_dly_ts2',
 'tfz_idx',
 'tfz_iss',
 'tfz_mast',
 'tfz_mth',
 'tfz_mth_bp',
 'tfz_mth_cd',
 'tfz_mth_cpi',
 'tfz_mth_fb',
 'tfz_mth_ft',
 'tfz_mth_rf',
 'tfz_mth_rf2',
 'tfz_mth_ts',
 'tfz_mth_ts2',
 'tfz_pay']

In [5]:
db.describe_table(library='crsp_m_treasuries', table='tfz_dly')

Approximately 3204117 rows in crsp_m_treasuries.tfz_dly.

              name  nullable              type
0        kytreasno      True  DOUBLE_PRECISION
1         kycrspid      True       VARCHAR(15)
2            caldt      True              DATE
3            tdbid      True  DOUBLE_PRECISION
4            tdask      True  DOUBLE_PRECISION
5         tdnomprc      True  DOUBLE_PRECISION
6     tdnomprc_flg      True        VARCHAR(1)
7         tdsourcr      True        VARCHAR(1)
8         tdaccint      True  DOUBLE_PRECISION
9         tdretnua      True  DOUBLE_PRECISION
10           tdyld      True  DOUBLE_PRECISION
11        tdduratn      True  DOUBLE_PRECISION
12        tdpubout      True  DOUBLE_PRECISION
13        tdtotout      True  DOUBLE_PRECISION
14         tdpdint      True  DOUBLE_PRECISION
15      tdidxratio      True  DOUBLE_PRECISION
16  tdidxratio_flg      True        VARCHAR(1)

In [6]:
DATE = '2020-12-31'
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where caldt=\'{DATE}\''
data_quotes = db.raw_sql(SQL_QUERY)
data_quotes

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,204076.0,20210515.108120,2020-12-31,102.976562,103.000000,102.988281,M,I,1.032459,0.000216,2.973182e-06,135.000000,3020.0,10067.0,0.0,NaN,None
1,204075.0,20210215.107870,2020-12-31,100.968750,100.992188,100.980469,M,I,2.953125,0.000206,8.170302e-07,46.000000,3022.0,10076.0,0.0,NaN,None
2,204078.0,20211115.108000,2020-12-31,106.882812,106.906250,106.894531,M,I,1.016575,0.000205,2.637656e-06,312.182000,9190.0,30632.0,0.0,NaN,None
3,204077.0,20210815.108120,2020-12-31,104.992188,105.015625,105.003906,M,I,3.046875,0.000204,3.118344e-06,220.195727,2852.0,9506.0,0.0,NaN,None
4,204079.0,20220815.107250,2020-12-31,111.609375,111.632812,111.621094,M,I,2.718750,0.000172,2.511116e-06,557.394036,3978.0,10128.0,0.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,207648.0,20210701.400000,2020-12-31,99.957028,99.962083,99.959556,M,I,0.000000,0.000002,2.222672e-06,182.000000,NaN,59598.0,0.0,NaN,None
414,207649.0,20211230.400000,2020-12-31,99.893833,99.898889,99.896361,M,I,0.000000,0.000003,2.848699e-06,364.000000,NaN,39731.0,0.0,NaN,None
415,207652.0,20251231.200370,2020-12-31,100.007812,100.054688,100.031250,M,I,0.000000,0.000000,1.008627e-05,1810.684582,59000.0,67977.0,0.0,NaN,None
416,207653.0,20271231.200620,2020-12-31,99.773438,99.820312,99.796875,M,I,0.000000,0.000000,1.790187e-05,2504.784637,59000.0,67977.0,0.0,NaN,None
417,207650.0,20221231.200120,2020-12-31,99.976562,100.015625,99.996094,M,I,0.000000,0.000000,3.477158e-06,729.314447,57999.0,66824.0,0.0,NaN,None

In [7]:
KEYS = tuple(data_quotes['kytreasno'])
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where kytreasno in {KEYS}'
data_iss = db.raw_sql(SQL_QUERY)
data_iss

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204075.0,20210215.107870,20210215.107870,912810EH,1991-02-15,2021-02-15,1.0,7.875,2.0,3.9375,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204076.0,20210515.108120,20210515.108120,912810EJ,1991-05-15,2021-05-15,1.0,8.125,2.0,4.0625,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204077.0,20210815.108120,20210815.108120,912810EK,1991-08-15,2021-08-15,1.0,8.125,2.0,4.0625,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204078.0,20211115.108000,20211115.108000,912810EL,1991-11-15,2021-11-15,1.0,8.000,2.0,4.0000,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204079.0,20220815.107250,20220815.107250,912810EM,1992-08-15,2022-08-15,0.0,7.250,2.0,3.6250,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,207649.0,20211230.400000,20211230.400000,912796A9,2020-12-31,2021-12-30,1.0,0.000,0.0,0.0000,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
414,207650.0,20221231.200120,20221231.200120,91282CBD,2020-12-31,2022-12-31,0.0,0.125,2.0,0.0625,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
415,207651.0,20231215.200120,20231215.200120,91282CBA,2020-12-15,2023-12-15,0.0,0.125,2.0,0.0625,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
416,207652.0,20251231.200370,20251231.200370,91282CBC,2020-12-31,2025-12-31,0.0,0.375,2.0,0.1875,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
417,207653.0,20271231.200620,20271231.200620,91282CBB,2020-12-31,2027-12-31,0.0,0.625,2.0,0.3125,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None

In [8]:
data = data_quotes.merge(data_iss, on='kytreasno')
data

,kytreasno,kycrspid_x,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204076.0,20210515.108120,2020-12-31,102.976562,103.000000,102.988281,M,I,1.032459,0.000216,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204075.0,20210215.107870,2020-12-31,100.968750,100.992188,100.980469,M,I,2.953125,0.000206,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204078.0,20211115.108000,2020-12-31,106.882812,106.906250,106.894531,M,I,1.016575,0.000205,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204077.0,20210815.108120,2020-12-31,104.992188,105.015625,105.003906,M,I,3.046875,0.000204,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204079.0,20220815.107250,2020-12-31,111.609375,111.632812,111.621094,M,I,2.718750,0.000172,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,207648.0,20210701.400000,2020-12-31,99.957028,99.962083,99.959556,M,I,0.000000,0.000002,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
414,207649.0,20211230.400000,2020-12-31,99.893833,99.898889,99.896361,M,I,0.000000,0.000003,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
415,207652.0,20251231.200370,2020-12-31,100.007812,100.054688,100.031250,M,I,0.000000,0.000000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
416,207653.0,20271231.200620,2020-12-31,99.773438,99.820312,99.796875,M,I,0.000000,0.000000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
417,207650.0,20221231.200120,2020-12-31,99.976562,100.015625,99.996094,M,I,0.000000,0.000000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None

# Get Yield Curve Data (CRSP)

In [9]:
data_ft = db.get_table(library='crsp_m_treasuries', table='tfz_dly_ft').pivot_table(index='caldt',values='tdytm', columns='kytreasnox')
data_ft.columns = [1,2,5,7,10,20,30]
data_ft

,1,2,5,7,10,20,30
caldt,,,,,,,
1961-06-14,2.935907,3.360687,3.623677,3.768720,3.818819,3.814210,3.815172
1961-06-15,2.932936,3.376460,3.671691,3.804225,3.862987,3.828220,3.826316
1961-06-16,2.929949,3.375670,3.685431,3.804216,3.863282,3.832922,3.830049
1961-06-19,2.920884,3.389970,3.712984,3.824557,3.886205,3.842378,3.837543
1961-06-20,2.952419,3.355796,3.685391,3.809274,3.886506,3.856465,3.845018
...,...,...,...,...,...,...,...
2022-04-25,2.004627,2.629813,2.863810,2.842773,2.800729,3.060412,2.867910
2022-04-26,1.948537,2.473193,2.720330,2.728669,2.702851,2.990138,2.806869
2022-04-27,1.909012,2.550330,2.808044,2.832539,2.812572,3.090740,2.901020
2022-04-28,1.974998,2.569618,2.818188,2.838717,2.803318,3.063969,2.872239
2022-04-29,2.140643,2.683959,2.943402,2.973357,2.913213,3.186354,2.975421

# Get Timeseries for certain maturities

In [10]:
MATDT = '2022-02-15'

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where tmatdt=\'{MATDT}\''
temp = db.raw_sql(SQL_QUERY)
#temp = temp[temp['itype'].isin([11,12]) == DOTIPS]
temp

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,206339.0,20220215.202000,20220215.202000,912828SF,2012-02-15,2022-02-15,1.0,2.0,2.0,1.00,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
1,207309.0,20220215.202500,20220215.202500,9128286C,2019-02-15,2022-02-15,1.0,2.5,2.0,1.25,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
2,207781.0,20220215.400000,20220215.400000,912796R8,2021-10-19,2022-02-15,1.0,0.0,0.0,0.00,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None

In [11]:
if temp.shape[0]>1:
    KEYNO = tuple(temp['kytreasno'])
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO}'
else:
    KEYNO = temp['kytreasno'].values[0]
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno =\'{KEYNO}\''
    
ts = db.raw_sql(SQL_QUERY)
ts

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,207309.0,20220215.202500,2019-02-06,99.984375,100.023438,100.003906,M,I,0.0,NaN,0.000067,1071.687139,NaN,NaN,0.0,None,None
1,206339.0,20220215.202000,2012-02-09,99.640625,99.703125,99.671875,M,I,0.0,NaN,0.000055,3334.278135,NaN,NaN,0.0,None,None
2,206339.0,20220215.202000,2012-02-10,100.093750,100.140625,100.117188,M,I,0.0,0.004468,0.000054,3334.172369,NaN,NaN,0.0,None,None
3,206339.0,20220215.202000,2012-02-13,100.187500,100.250000,100.218750,M,I,0.0,0.001014,0.000054,3331.345227,NaN,NaN,0.0,None,None
4,206339.0,20220215.202000,2012-02-14,100.546875,100.593750,100.570312,M,I,0.0,0.003508,0.000053,3331.044132,NaN,NaN,0.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3346,207781.0,20220215.400000,2021-11-03,99.984111,99.987000,99.985556,M,I,0.0,0.000016,0.000001,104.000000,NaN,35002.0,0.0,None,None
3347,207781.0,20220215.400000,2021-11-04,99.984264,99.987125,99.985694,M,I,0.0,0.000001,0.000001,103.000000,NaN,35002.0,0.0,None,None
3348,207781.0,20220215.400000,2021-11-05,99.984417,99.987250,99.985833,M,I,0.0,0.000001,0.000001,102.000000,NaN,35002.0,0.0,None,None
3349,207781.0,20220215.400000,2021-11-08,99.984875,99.987625,99.986250,M,I,0.0,0.000004,0.000001,99.000000,NaN,35002.0,0.0,None,None
3350,207781.0,20220215.400000,2021-11-09,99.986389,99.989111,99.987750,M,I,0.0,0.000015,0.000001,98.000000,NaN,35002.0,0.0,None,None

# Get Timeseries for certain issues

In [25]:
KEYNO = (207816,207818)

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO}'

ts_issue = db.raw_sql(SQL_QUERY)
ts_issue

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,207816.0,20220630.400000,2022-04-25,99.886333,99.888167,99.887250,M,I,0.0,0.000090,0.000017,66.0,None,123702.0,0.0,None,None
1,207816.0,20220630.400000,2022-02-03,99.869333,99.873417,99.871375,M,I,0.0,-0.000002,0.000009,147.0,None,58198.0,0.0,None,None
2,207816.0,20220630.400000,2022-02-04,99.837778,99.854000,99.845889,M,I,0.0,-0.000255,0.000011,146.0,None,58198.0,0.0,None,None
3,207816.0,20220630.400000,2022-02-07,99.851042,99.855014,99.853028,M,I,0.0,0.000071,0.000010,143.0,None,58198.0,0.0,None,None
4,207816.0,20220630.400000,2022-02-08,99.850111,99.854056,99.852083,M,I,0.0,-0.000009,0.000010,142.0,None,58198.0,0.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,207818.0,20221229.400000,2022-04-29,98.996889,99.003667,99.000278,M,I,0.0,-0.000096,0.000041,244.0,None,38798.0,0.0,None,None
170,207816.0,20220630.400000,2022-04-26,99.888056,99.889861,99.888958,M,I,0.0,0.000017,0.000017,65.0,None,123702.0,0.0,None,None
171,207816.0,20220630.400000,2022-04-27,99.883556,99.885333,99.884444,M,I,0.0,-0.000045,0.000018,64.0,None,123702.0,0.0,None,None
172,207816.0,20220630.400000,2022-04-28,99.888000,99.891500,99.889750,M,I,0.0,0.000053,0.000018,63.0,None,123702.0,0.0,None,None
173,207816.0,20220630.400000,2022-04-29,99.889778,99.891500,99.890639,M,I,0.0,0.000009,0.000018,62.0,None,123700.0,0.0,None,None

# Save to Excel

In [25]:
outfile = f'../data/treasury_quotes_{DATE}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    data.to_excel(writer, sheet_name= 'quotes', index=False)

In [ ]:
outfile = f'../data/treasury_ts_{MATDT}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts.to_excel(writer, sheet_name= 'ts', index=False)

In [26]:
outfile = f'../data/treasury_ts_issue_{KEYNO}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts.to_excel(writer, sheet_name= 'ts', index=False)

In [12]:
outfile = f'../data/yields.xlsx'
with pd.ExcelWriter(outfile) as writer:
    data_ft.to_excel(writer, sheet_name= 'yields', index=True)